---
import Layout from "../layouts/Layout.astro";
import HandsImage from "@/assets/images/hands.svg";
import Faq from "@/components/home/react/Faq";
import CallMessageIcon from "@/assets/icons/call-msg.svg";
import HeroSection from "@/components/home/astro/HeroSection.astro";
import RecoverySection from "@/components/home/astro/RecoverySection.astro";
import Insurance from "@/components/home/astro/Insurance.astro";
import GetHelpNowSection from "@/components/home/astro/GetHelpNowSection.astro";
import RehabProgramsSlider from "@/components/home/react/RehabProgramsSlider";
import { commonBtnsData } from "@/data/commonBtnsData";
import TransformSection from "@/components/home/astro/TransformSection.astro";
import StorySection from "@/components/home/react/Story";
import FooterSection from "@/components/home/astro/FooterSection.astro";
import Callbtn from "@/components/home/astro/Callbtn.astro";
---

<Layout>
  <HeroSection />
  <TransformSection/>
  <Insurance />
  <RehabProgramsSlider client:only />
  <Callbtn/>
  <div class="text-center mt-12">
    <p class="text-xl font-semibold">Confidential |  Free  |  Available 24/7</p>
  </div>
  <StorySection client:only />
  <GetHelpNowSection />
  <RecoverySection
    recoveryImage={HandsImage}
    callMessageAction={CallMessageIcon}
  />
  <Faq client:load />
 <FooterSection />
</Layout>

<style>
  .hero-section {
    background-image: url("../assets/images/banner.webp");
  }
  .gradient-line {
    background: linear-gradient(
      90deg,
      rgba(153, 153, 153, 0) 0%,
      #fff 38.4%,
      #fff 61.17%,
      rgba(153, 153, 153, 0) 100%
    );
  }

  .stories-banner {
    background-image: url("../assets//images/stories-banner.webp");
  }

  .why_choose_us {
    background: linear-gradient(180deg, #f7f7fb 0%, #f7f7fb 44%, #f2e9c6 81%);
  }

  .orb-gradient-line {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #f1f1f1 38.4%,
      #f1f1f1 61.17%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .stories-banner {
    background-image: url("../assets/images/stories-banner.webp");
  }
</style>
