---
import { Image } from "astro:assets";
import BlackMobileIcon from "@/assets/icons/black-phone.svg";
import { commonBtnsData } from "@/data/commonBtnsData";
import GetHelpNowBtn from "./GetHelpNowBtn.astro";
---

<section
  class="empowering py-[72px] px-4  flex flex-col justify-center items-center gap-10"
>
  <h2
    class="max-w-[1028px] w-full mx-auto text-4xl md:text-[45px] font-Bodonitown text-white font-medium leading-[66px] text-center"
  >
  You don't have to face addiction alone. We offer a beacon of hope and a supportive environment where you can reclaim your life and discover a brighter future.  </h2>

  <GetHelpNowBtn />
</section>

<style>
  .empowering {
    background-color: #553665;
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
  }
</style>

