---
import HandsetIcon from "@/assets/icons/handset.svg";
import { helpItems } from "@/data/helpItems";
import BlackMobileIcon from "@/assets/icons/black-phone.svg";

import { Image } from "astro:assets";
import GetHelpNowBtn from "./GetHelpNowBtn.astro";
---

<section class="pt-[45px] pb-[63px] bg-[#F7F7FB] px-4">
  <div class="max-w-[1200px] mx-auto text-center">
    <h2 class="text-black text-4xl md:text-[56px] font-Bodonitown font-medium">
      24/7 Treatment Help
    </h2>
    <div class="br_line my-4 max-w-[200px] w-full mx-auto h-[1px]"></div>

    <div class="flex justify-center">
      <GetHelpNowBtn />
    </div>

    <div
      class="flex justify-center items-center flex-col md:flex-row gap-10 mt-[49px]"
    >
      {
        helpItems.map((item) => (
          <div class="bg-white group cursor-pointer transition-shadow hover:shadow-xl p-[10px] text-center w-full sm:w-[300px] h-[300px] flex flex-col items-center shadow-[0px_0px_18px_0px_rgba(0,0,0,0.07)] justify-center">
            <Image
              src={item.image}
              alt={item.name}
              class="w-[90px] group-hover:scale-105 transition-transform"
            />
            <h6 class="text-xl md:text-2xl text-text font-medium mt-5">
              {item.name}
            </h6>
            <p class="text-[#727272] leading-[27px] my-2">{item.description}</p>
            <a
              href="#"
              class="group-hover:text-white group-hover:bg-primary group-hover:border-primary transition-colors uppercase text-sm text-text font-medium px-[14px] py-2 border-b border-black"
            >
              Learn more
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
<style>
  .br_line {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #fff 38.4%,
      #fff 61.17%,
      rgba(255, 255, 255, 0) 100%
    );
  }
</style>
