---
import { Button } from "../ui/button";
const phoneNumber = "855-871-53321";
const supportText =
  "Ready to get help? Our Treatment Consultants are available 24/7.";
const buttonLabel = "Request a call";
---

<header class="p-[10px] bg-primary">
  <div
    class="mx-auto max-w-7xl w-full flex flex-col md:flex-row justify-between md:items-center gap-3"
  >
    <p class="text-white text-start">
      We are here to help you! Call us:
      <a href={`tel:${phoneNumber}`} class="font-semibold text-secondary">
        {phoneNumber}
      </a>
    </p>
    <p class="text-white ml-auto">
      {supportText}
    </p>
    <a
      href="tel:855-871-53321"
      class="bg-secondary rounded-none text-center text-black hover:bg-white text-[13px] font-semibold p-[10px] uppercase"
    >
      {buttonLabel}
    </a>
  </div>
</header>
